<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/catIntro.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat</title>
</head>
<body>
    <div class="mainDiv">
        <img class="image" src="<%=image%>" alt="">
        <div class="tableDiv">
            <table class="table">
                <tr class="tableRate">
                    <th>Intro</th>
                    <td>Length</td>
                    <td><%=length%></td>
                    <td>Origin</td>
                    <td><%=origin%></td>
                    <td>Friendly</td>
                    <td><%=familyFriendly%></td>
                    <td>Shedding</td>
                    <td><%=shedding%></td>
                    <td>Health</td>
                    <td><%=health%></td>
                    <td>Games Lover</td>
                    <td><%=playfullness%></td>
                    <td>Child Friendly</td>
                    <td><%=childFriendly%></td>
                    <td>Grooming</td>
                    <td><%=grooming%></td>
                    <td>Intelligent</td>
                    <td><%=intelligent%></td>
                    <td>Other Pet Friendly</td>
                    <td><%=otherPetFriendly%></td>
                    <td>Min Weight</td>
                    <td><%=minWeight%></td>
                    <td>Max Weight</td>
                    <td><%=maxWeight%></td>
                    <td>Life Expectancy</td>
                    <td><%=minLifeExpectency%></td>
                    <td>Max Life Expectancy</td>
                    <td><%=maxLifeExpectancy%></td>
                    <td><b>Name: <%=name%></b></td>
                </tr>
            </table>
            <a class="footerHref" href="visitheart.com"><abbr style="text-decoration: none;" title="Developed in Lahore">Developed by Rana Sarfraz</abbr></a>
            <a class="footerHref" style="margin-top: 30px;" href="https://api-ninjas.com/api/jokes"><abbr style="text-decoration: none;" title="https://api-ninjas.com/api/jokes">https://api-ninjas.com/api/jokes</abbr></a>
                    Sarfraz</abbr></a>
        </div>
    </div>
</body>
</html>